_Course: Programming for Data Analytics_
- Name: Muhammad Umar Uz Zaman
- Student ID: 1197819
- Goal: EDA Analysis of the given dataset to predict future housing market trends

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Loading dataset in to start analysis (I changed the name of the csv for ease) and checking it out
df = pd.read_csv("Dataset.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             19995 non-null  float64
 1   bedrooms          19984 non-null  float64
 2   bathrooms         19988 non-null  float64
 3   sqft_living       19998 non-null  float64
 4   sqft_total        19994 non-null  float64
 5   floors            19999 non-null  float64
 6   condition         19998 non-null  float64
 7   grade             19999 non-null  int64
 8   built             19998 non-null  float64
 9   renovated         19999 non-null  int64
 10  living_area_sqft  19993 non-null  float64
dtypes: float64(9), int64(2)
memory usage: 1.7 MB

In [7]:
# Summary statistics
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_total,floors,condition,grade,built,renovated,living_area_sqft
count,1.999500e+04,19984.000000,19988.000000,19998.000000,1.999400e+04,19999.000000,19998.000000,19999.000000,19998.000000,19999.000000,19993.000000
mean,5.353944e+05,3.366593,2.072969,2057.936294,1.560696e+04,1.444872,3.441794,7.605730,1967.953145,90.812041,1974.197819
std,3.659217e+05,0.930136,0.761162,905.640821,4.177576e+04,0.516672,0.665473,1.172624,28.317403,415.947901,675.199588
min,7.500000e+04,1.000000,0.500000,290.000000,5.200000e+02,1.000000,1.000000,1.000000,1900.000000,0.000000,399.000000
25%,3.170000e+05,3.000000,1.500000,1420.000000,5.350000e+03,1.000000,3.000000,7.000000,1950.000000,0.000000,1490.000000
50%,4.499000e+05,3.000000,2.000000,1900.000000,7.817500e+03,1.000000,3.000000,7.000000,1969.000000,0.000000,1830.000000
75%,6.400000e+05,4.000000,2.500000,2510.000000,1.100000e+04,2.000000,4.000000,8.000000,1991.000000,0.000000,2336.000000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,5.000000,13.000000,2015.000000,2015.000000,6210.000000

In [8]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_total,floors,condition,grade,built,renovated,living_area_sqft
0,221900.0,3.0,1.0,1180.0,5650.0,1.0,3.0,7,1955.0,0,1340.0
1,538000.0,3.0,NaN,2570.0,7242.0,2.0,3.0,7,1951.0,1991,1690.0
2,180000.0,2.0,1.0,770.0,10000.0,1.0,3.0,6,1933.0,0,2720.0
3,604000.0,4.0,3.0,1960.0,5000.0,1.0,5.0,7,1965.0,0,1360.0
4,510000.0,3.0,2.0,1680.0,8080.0,1.0,3.0,8,1987.0,0,1800.0

In [9]:
# Let's check if all the data types are correct for each column
df.dtypes

price               float64
bedrooms            float64
bathrooms           float64
sqft_living         float64
sqft_total          float64
floors              float64
condition           float64
grade                 int64
built               float64
renovated             int64
living_area_sqft    float64
dtype: object