_Course: Programming for Data Analytics_
- Name: Muhammad Umar Uz Zaman
- Student ID: 1197819
- Goal: EDA Analysis of the given dataset to predict future housing market trends

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Loading dataset in to start analysis (I changed the name of the csv for ease) and checking it out
df = pd.read_csv("Dataset.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             19995 non-null  float64
 1   bedrooms          19984 non-null  float64
 2   bathrooms         19988 non-null  float64
 3   sqft_living       19998 non-null  float64
 4   sqft_total        19994 non-null  float64
 5   floors            19999 non-null  float64
 6   condition         19998 non-null  float64
 7   grade             19999 non-null  int64
 8   built             19998 non-null  float64
 9   renovated         19999 non-null  int64
 10  living_area_sqft  19993 non-null  float64
dtypes: float64(9), int64(2)
memory usage: 1.7 MB

In [32]:
# Summary statistics
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_total,floors,condition,grade,built,renovated,living_area_sqft
count,1.999500e+04,19995.000000,19995.000000,19995.000000,1.999500e+04,19995.000000,19994.000000,19995.000000,19994.000000,19995.000000,19989.000000
mean,5.353944e+05,3.366242,2.072893,2057.860465,1.560572e+04,1.444811,3.441783,7.605451,1967.948835,90.830208,1974.159138
std,3.659217e+05,0.929898,0.760998,905.621925,4.177481e+04,0.516670,0.665501,1.172447,28.317913,415.987523,675.214074
min,7.500000e+04,1.000000,0.500000,290.000000,5.200000e+02,1.000000,1.000000,1.000000,1900.000000,0.000000,399.000000
25%,3.170000e+05,3.000000,1.500000,1420.000000,5.350000e+03,1.000000,3.000000,7.000000,1950.000000,0.000000,1490.000000
50%,4.499000e+05,3.000000,2.000000,1900.000000,7.814000e+03,1.000000,3.000000,7.000000,1969.000000,0.000000,1830.000000
75%,6.400000e+05,4.000000,2.500000,2510.000000,1.100000e+04,2.000000,4.000000,8.000000,1991.000000,0.000000,2330.000000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,5.000000,13.000000,2015.000000,2015.000000,6210.000000

In [8]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_total,floors,condition,grade,built,renovated,living_area_sqft
0,221900.0,3.0,1.0,1180.0,5650.0,1.0,3.0,7,1955.0,0,1340.0
1,538000.0,3.0,NaN,2570.0,7242.0,2.0,3.0,7,1951.0,1991,1690.0
2,180000.0,2.0,1.0,770.0,10000.0,1.0,3.0,6,1933.0,0,2720.0
3,604000.0,4.0,3.0,1960.0,5000.0,1.0,5.0,7,1965.0,0,1360.0
4,510000.0,3.0,2.0,1680.0,8080.0,1.0,3.0,8,1987.0,0,1800.0

In [ ]:
# Let's check if all the data types are correct for each column
df.dtypes

price               float64
bedrooms            float64
bathrooms           float64
sqft_living         float64
sqft_total          float64
floors              float64
condition           float64
grade                 int64
built               float64
renovated             int64
living_area_sqft    float64
dtype: object

In [16]:
df['price'].describe()

count    1.999500e+04
mean     5.353944e+05
std      3.659217e+05
min      7.500000e+04
25%      3.170000e+05
50%      4.499000e+05
75%      6.400000e+05
max      7.700000e+06
Name: price, dtype: float64

In [18]:
# Checking if all price value are integers and if any decimals are present
(df['price'] % 1 != 0).any()

True

Since price has all integers. No decimals we can convert it to int64

In [20]:
# So I tried to convert but since we have NaN (Null) values I cant. So let's deal with them first.
# df['price'] = df['price'].astype('int64')

In [21]:
df.isnull().sum()

price                4
bedrooms            15
bathrooms           11
sqft_living          1
sqft_total           5
floors               0
condition            1
grade                0
built                1
renovated            0
living_area_sqft     6
dtype: int64

We shall handle and eradicate all Null values from this dataset to prep it for analysis

In [25]:
# Price Null rows are completely dropped since they are so few and difficult to approximate the price
df = df.dropna(subset=['price'])

In [26]:
# For bedrooms I am using the median to fill in the values
df['bedrooms'] = df['bedrooms'].fillna(df['bedrooms'].median())

In [28]:
# For bathrooms lets check all unique values before deciding how to deal with them
df['bathrooms'].unique()

array([1.  ,  nan, 3.  , 2.  , 4.5 , 2.25, 1.5 , 2.5 , 1.75, 2.75, 3.25,
       4.  , 3.5 , 0.75, 4.75, 5.  , 4.25, 3.75, 1.25, 5.25, 6.  , 0.5 ,
       5.5 , 6.75, 5.75, 8.  , 7.5 , 7.75, 6.25])

In [29]:
# For bathrooms I shall choose median as well since it contains decimals
df['bathrooms'] = df['bathrooms'].fillna(df['bathrooms'].median())

In [31]:
# Median for sqft_living and sqft total
df['sqft_living'] = df['sqft_living'].fillna(df['sqft_living'].median())
df['sqft_total'] = df['sqft_total'].fillna(df['sqft_total'].median())

In [33]:
# For condition (which varies from 1 till 5) I am choosing mode since median could give a decimal answer
df['condition'] = df['condition'].fillna(df['condition'].mode()[0])

In [35]:
# For built I am choosing median since only one missing value and same for living area sqft
df['built'] = df['built'].fillna(df['built'].median())
df['living_area_sqft'] = df['living_area_sqft'].fillna(df['living_area_sqft'].median())

In [36]:
df.isnull().sum()

price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_total          0
floors              0
condition           0
grade               0
built               0
renovated           0
living_area_sqft    0
dtype: int64

Null values have been removed from the dataset via median/mode Null value handling strategies taught in class

In [37]:
df.dtypes

price               float64
bedrooms            float64
bathrooms           float64
sqft_living         float64
sqft_total          float64
floors              float64
condition           float64
grade                 int64
built               float64
renovated             int64
living_area_sqft    float64
dtype: object

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19995 entries, 0 to 19998
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             19995 non-null  float64
 1   bedrooms          19995 non-null  float64
 2   bathrooms         19995 non-null  float64
 3   sqft_living       19995 non-null  float64
 4   sqft_total        19995 non-null  float64
 5   floors            19995 non-null  float64
 6   condition         19995 non-null  float64
 7   grade             19995 non-null  int64
 8   built             19995 non-null  float64
 9   renovated         19995 non-null  int64
 10  living_area_sqft  19995 non-null  float64
dtypes: float64(9), int64(2)
memory usage: 1.8 MB

In [39]:
# Converting all columns with only whole number values from float64 to int64 for efficiency
# Not converting Floors and bathrooms since they contain  decimals

df['bedrooms'] = df['bedrooms'].astype('int64')           # bedrooms are always whole numbers
df['sqft_living'] = df['sqft_living'].astype('int64')     # square footage with no decimals
df['sqft_total'] = df['sqft_total'].astype('int64')       # total area, all whole numbers
df['condition'] = df['condition'].astype('int64')         # categorical 1â€“5 scale
df['built'] = df['built'].astype('int64')                 # year of construction
df['living_area_sqft'] = df['living_area_sqft'].astype('int64')  # whole-number area values